<header class="site-header">
  <div class="row">
    <div class="col-xs-2 col-md-2">
      <img src="/img/civicmaker-mark-white.png">
    </div>
    <div class="col-md-10">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/case-studies/">Case Studies</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
