<header class="site-header">
  <div class="" id="navbar">
    <div class="col-xs-2 brand">
      <a href="/"><img src="/img/civicmaker-mark-white.png"></a>
    </div>
    <div class="col-xs-10 nav">
      <ul>
          {% assign nodes = site.pages | sort: 'navorder' %}
          {% for node in nodes %}
            {% unless node.exclude_from_nav %}
              {% if node.title %}
                  <li>
                  {% if page.url == node.url %}
                    <a class="active" href="{{node.url}}">{{ node.title }}</a>
                  {% else %}
                    <a class="" href="{{node.url}}">{{ node.title }}</a>
                  {% endif %}
                  </li>
              {% endif %}
            {% endunless %}
          {% endfor %}
      </ul>
    </div>
  </div>
</header>
