<div id="logo-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-2 offset-md-1 feature">
        <img src="/img/bowtie-light.png">
        <p>Fully Customized CMS</p>
      </div>
      <div class="col-md-2 feature">
        <img src="/img/responsive.png">
        <p>Mobile Responsive</p>
      </div>
      <div class="col-md-2 feature">
        <img src="/img/social-media.png">
        <p>Easy Social Media Integrations</p>
      </div>
      <div class="col-md-2 feature">
        <img src="/img/search.png">
        <p>Robust Search Capabilities</p>
      </div>
      <div class="col-md-2 feature">
        <img src="/img/calendar-light.png">
        <p>Interactive Calendars</p>
      </div>
    </div>
  </div>
</div>
