

#hero
  background: url(/img/Capitol.jpg)
  background-position: center
  background-size: cover
  padding-top: 200px
  padding-bottom: 100px
  margin-top: -200px
  h1
    text-align: center
    font-size: 4em
    color: #FFF
  p.lead
    font-size: 1.8em
    font-weight: 200
    text-align: center

#logo-bar
  background: #eee
  position: relative
  width: 100%
  padding: 12px 0

#cta-bar
  padding: 5px 0
  background: #bbb
  p
    margin-top: 12px

#web-design, #hr
  background: #bbb
  padding: 50px 0
  border-bottom: 1px solid #999
  .copy
    h2
      font-size: 2.5em
      line-height: 140%
    p.lead
      padding-top: 30px
      padding-right: 80px
      font-size: 1.5em
      font-weight: 200
      color: #fff
    ul
      li
        padding: 30px 80px 0 0
        color: #666
    p.btn-holder
      margin-top: 40px

#alerts
  background: #fff
  padding: 50px 0
  border-bottom: 1px solid #999
  .copy
    h2
      font-size: 2.5em
      line-height: 140%
    p.lead
      padding-top: 30px
      padding-right: 80px
      font-size: 1.5em
      font-weight: 200
      color: #999
    ul
      li
        padding: 30px 80px 0 0
        color: #666
    p.btn-holder
      margin-top: 40px

#hr
  background: #fff
  .copy
    p.lead
      color: #999


#proof
  padding: 80px 0
  h2
    font-size: 2.2em
    text-align: center
    line-height: 140%
  p.lead
    padding: 40px 0
    text-align: center

#testimonial
  padding: 220px 0
  background: url("http://placehold.it/1440x800")
  background-size: cover
  h3
    text-align: center
    font-size: 2.5em
    color: #fff
  p.support
    text-transform: uppercase
    color: #fff
    font-size: 14px
    text-align: center
  p.btn-holder
    text-align: center
    margin-top: 30px

#stats
  padding: 30px
  h2
    font-size: 3em
    text-align: center
  .stat
    padding: 20px 40px
    text-align: center
    p.number-lg
      font-size: 5em
      font-weight: 200
    p.body
      font-size: 1.3em
  border-bottom: 1px solid #ddd
#about-body
  padding: 50px 0
  h2
    font-size: 3em
    text-align: center
  p
    font-size: 1.3em
    font-weight: 200
    color: #777
    text-align: left
    padding: 0px 50px 25px 50px
  .row
    margin: 0px
    padding: 0px

#about-alt
  background: #ddd
  padding: 30px 0 0 0    

#case-studies
  text-align: center
  .cs-row
    border-bottom: 1px solid #ddd
    padding-top: 40px
    padding-bottom: 20px
    .case-study
      h3
        font-size: 1.5em
        margin-top: 40px
        font-weight: bold
        text-transform: uppercase
      p
        padding: 20px

#service-intro
  padding: 50px
  border-bottom: 1px solid #ddd
  h2
    text-align: center
    font-size: 4em
    margin-bottom: 60px
  p
    text-align: center
    font-size: 1.6em
    font-weight: 200

#Life-Cycle
  padding: 50px
  background: #ddd


#service-features
  padding: 50px
  h2
    text-align: center
    margin-bottom: 60px

  .feature
    text-align: center
    img
      border-radius: 50%
      border: 3px solid #ddd
    h3
      text-align: center
      margin-top: 20px
      font-size: 1.2em
    p
      text-align: center
      padding: 30px
    

.phone-feature
  background: url(http://placehold.it/1440x500)
  background-position: center
  background-size: cover
.service-aside
  padding: 100px
  p.lead
    line-height: 200%
  ul
    li
      padding: 20px

.service-center
  border-bottom: 1px solid #ddd
  padding: 100px
  .image
    text-align: right

#form-holder
  padding: 50px
  .form-row
    margin-bottom: 30px
