@media all and (min-width: 1490px)
  #alerts
    .left-img
      left: -175px

  #web-design, #hr
    min-height: 480px
    .laptop
      img
        position: absolute
        max-height: 490px
        right: 0px
        z-index: 5
        margin-top: -40px
  #logo-bar
    .row
      max-width: 1200px
      margin: 0 auto

@media all and (max-width: 1024px)
  #alerts
    .left-img
      left: -175px

  #web-design, #hr
    min-height: 480px
    .laptop
      img
        position: absolute
        max-width: 560px
        right: 0px
        z-index: 5
        margin-top: 90px

  #about-success, #about-innovation, #about-support
    .left-img, .right-img
      min-height: 605px


@media all and (max-width: 850px)
  #web-design, #hr
    .laptop
      img
        max-width: 500px
        margin-top: 130px
  #about-success, #about-innovation, #about-support
    .left-img, .right-img
      min-height: 670px


@media all and (max-width: 767px)

  #alerts
    height: auto
    text-align: center
    .left-img
      left: 0
      width: auto
      height: 100%
      top: 0px
      position: relative
      img
        margin: -100px 0 -120px 0
    .copy
      padding: 20px 30px 50px
      p.lead
        padding-right: 0

  #web-design, #hr
    padding: 50px 30px
    text-align: center
    .copy p.lead
      padding-right: inherit
    .laptop
      img
        max-width: 500px
        margin-top: 90px
        position: relative
        margin: 20px auto -50px
        display: block
        width: 90%
  #about-success, #about-innovation, #about-support
    .left-img, .right-img
      min-height: 370px
      float: none

@media all and (max-width: 600px)

  #page-intro
    .title-bar
      padding-top: 50px
      h1
        text-align: center
        font-size: 2.5em
        color: #FFF
  #hero h1, #service-intro h2, #service-features h2, #Life-Cycle h2, #numbers h2
    font-size: 2.5em
    p.lead, .lead
  #service-intro
    p
      font-size: 1.25em
  #navbar
    .brand
    .nav
      padding-left: 40%
      margin-left: 0
      width: 100%
  .container
    padding: 50px 15px 60px 0

  header
    ul
      margin-top: -40px
      text-align: right
      li
        display: inline-block
        margin-top: 12px
        margin-right: 30px
        width: 60%



@media all and (max-width: 480px)

  #page-intro
    .title-bar
      height: auto
  #alerts
    .left-img
      img
        margin: -80px 0 -60px 0
